<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>饭堂就餐管理系统</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="/assets/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/assets/dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="/assets/dist/css/skins/skin-blue.min.css" />
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <a href="/index.php" class="logo"> 功能菜单 </a>
        <nav class="navbar navbar-static-top">
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li><a href="#">你好, <?php echo $_SESSION['user']; ?>！</a></li>
              <li><a href="/auth/admin.php">首页</a></li>
              <li><a href="/auth/change_pwd.php">修改密码</a></li>
              <li><a href="/auth/logout.php">注销</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu" data-widget="tree">
            <li>
              <a href="/student/m-student.php" class="sidebar-link">
                <i class="fa fa-group"></i> <span>学生管理</span>
              </a>
            </li>
            <li>
              <a href="/consumer/m-consumer.php" class="sidebar-link">
                <i class="fa fa-user-circle"></i> <span>消费者管理</span>
              </a>
            </li>
            <li>
              <a href="/job/m-jobs.php" class="sidebar-link">
                <i class="fa fa-address-book"></i> <span>职位管理</span>
              </a>
            </li>
            <li>
              <a href="/staff/m-staff.php" class="sidebar-link">
                <i class="fa fa-male"></i> <span>员工管理</span>
              </a>
            </li>
            <li>
              <a href="/account/m-account.php" class="sidebar-link">
                <i class="fa fa-credit-card"></i> <span>账号管理</span>
              </a>
            </li>
            <li>
              <a href="/food/m-food.php" class="sidebar-link">
                <i class="fa fa-cube"></i> <span>食物管理</span>
              </a>
            </li>
            <li>
              <a href="/ingredient/m-ingredient.php" class="sidebar-link">
                <i class="fa fa-cubes"></i> <span>食材管理</span>
              </a>
            </li>
            <li>
              <a href="/supplier/m-supplier.php" class="sidebar-link">
                <i class="fa fa-truck"></i> <span>供应商管理</span>
              </a>
            </li>
            <li>
              <a href="/add_ingredient/m-add_ingredient.php" class="sidebar-link">
                <i class="fa fa-handshake-o"></i> <span>食材进货管理</span>
              </a>
            </li>
            <li>
              <a href="/food_order/add_eating.php" class="sidebar-link">
                <i class="fa fa-comments"></i> <span>点餐管理</span>
              </a>
            </li>
            <li>
              <a href="/consumption_record/showall_consumption_record.php" class="sidebar-link">
                <i class="fa fa-id-card"></i> <span>消费记录</span>
              </a>
            </li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">

